/* Font "Poppin" */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --first-color: #faf4ea;
  --second-color-light: #819b57;
  --third-color: #31261a;
  --second-color-dark: #465929;
  --fourth-color: #a18268;
  --fifth-color: #cfcfbc;
}
/* Base */
*,
* ::after,
* ::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--third-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: var(--first-color);
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

address {
  font-style: normal;
}

.section {
  padding: 48px 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0 24px;
}

a {
  display: inline-block;
}

/* Button */
.button {
  padding: 16px 32px;
  color: #faf4ea;
  font-weight: 600;

  background-color: var(--second-color-light);
  border: 2px solid var(--second-color-light);
  border-radius: 8px;

  cursor: pointer;
}

.button:hover {
  color: var(--second-color-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--first-color);
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: var(--second-color-light);
}

/* Header */
header {
  background-color: pink;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  justify-content: center;
  flex-grow: 1;
  display: flex;
  gap: 64px;
}

/* Hero section */
.hero-title {
  margin-bottom: 0;
  color: var(--first-color);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title span {
  color: var(--second-color-light);
}

.hero-section {
  padding: 272px 0;
  background-image: url(/images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center top;
}

/* Advantages */
.advantages-section {
  background-color: var(--second-color-light);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section-title span {
  color: var(--second-color-dark);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title.centered {
  text-align: center;
}

.advantages-item {
  color: var(--first-color);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  color: var(--second-color-light);
  text-transform: uppercase;
}

.traditions-text .brand {
  color: var(--second-color-light);
  font-weight: 600;
}

/* Chefs section */
.chefs-title {
  margin: 0 auto 80px;
}

.chefs-title::after,
.chefs-title::before {
  display: block;
  width: 392;
  border: 2px solid var(--fifth-color);
  content: "";
}

.chef-name {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chef-photo {
  border-radius: 4px 4px 4px 200px;

  box-shadow: -16px 16px 0 0 var(--first-color),
    -16px 16px 0 2px var(--fourth-color);
}

.chef-card {
  display: flex;
  gap: 30px;
}
.chefs-list {
  display: flex;
  gap: 30px;
}

.chefs-item {
  flex-basis: calc(100% - 30px / 2);
}

/* Formats section */
.formats-list {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.format-card {
  width: 349px;
  height: 444px;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 24px;

  background-image: linear-gradient(
    180deg,
    rgba(49, 38, 26, 0) 55.21%,
    rgba(49, 38, 26, 0.71) 72.92%,
    var(--third-color) 100%
  );
}

.format-title {
  font-size: 64px;
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

.formats-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--third-color);
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
  flex-shrink: 0;
  fill: var(--third-color);
}

.formats-container {
  display: flex;
  gap: 33px;
  align-items: center;
}

.formats-btn:hover {
  fill: var(--first-color);
  background-color: var(--third-color);
}

/* Contact section */
.contact-title {
  margin-bottom: 16px;
}

.contact-container {
  display: flex;
  gap: 32px;
}

.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* Footer */
footer {
  background-image: url(/images/footer-background.jpg);
  background-color: var(--third-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav {
  flex-basis: 50%;
  display: flex;
}

.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.footer-menu,
.footer-logo {
  flex-grow: 1;
}

.adress-list,
.adddres-info {
  flex-grow: 1;
}

.address-link {
  color: var(--first-color);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-icon {
  fill: var(--first-color);
}

.adress-icon:hover {
  fill: var(--second-color-light);
}

.address-link:hover {
  color: var(--second-color-light);
}

.address-copyright {
  font-size: 14px;
  color: var(--fourth-color);
}
