/* Font "Poppin" */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2");
}

:root {
  --first-color: #faf4ea;
  --second-color-light: #819b57;
  --third-color: #31261a;
  --second-color-dark: #465929;
  --fourth-color: #a18268;
}

/* Base */
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  color: var(--third-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

address {
  font-style: normal;
}

.section {
  padding: 48px 0;
}

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0px auto;
  padding: 0 24px;
}

/* Button */
.button {
  padding: 16px 32px;
  color: #faf4ea;
  font-weight: 600;

  background-color: var(--second-color-light);
  border: 2px solid var(--second-color-light);
  border-radius: 8px;

  cursor: pointer;
}

.button:hover {
  color: var(--second-color-dark);
  background-color: transparent;
}

/* Link */
.link {
  color: var(--first-color);
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  color: var(--second-color-light);
}

/* Header */
header {
  background-color: #a18268;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}

.header-menu {
  justify-content: center;
  flex-grow: 1;
  display: flex;
  gap: 64px;
}

/* Hero section */
.hero-title {
  margin-bottom: 0;
  color: var(--first-color);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

.hero-title span {
  color: var(--second-color-light);
}

.hero-section {
  padding: 272px 0;
}

/* Advantages */
.advantages-section {
  background-color: var(--second-color-light);
  padding: 16px 0;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.section-title span {
  color: var(--second-color-dark);
}

.section-title {
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.advantages-item {
  color: var(--first-color);
  font-size: 20px;
  font-weight: 300;
}

/* Traditions section */
.traditions-section {
  padding-top: 96px;
}

.traditions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.traditions-content {
  max-width: 710px;
}

.traditions-title {
  margin-bottom: 42px;
}

.traditions-text .uppercase {
  color: var(--second-color-light);
  text-transform: uppercase;
}

.traditions-text .brand {
  color: var(--second-color-light);
  font-weight: 600;
}

/* Chefs section */
.chefs-title {
  margin-bottom: 80px;
}

.chef-name {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

/* Formats section */
.formats-list {
  display: flex;
  gap: 20px;
}

.format-card {
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 16px;
}

.format-title {
  font-size: 24px;
  margin-bottom: 80px;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Contact section */
.contact-title {
  margin-bottom: 16px;
}

/* Footer */
.address-link {
  color: var(--first-color);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.address-link:hover {
  color: var(--second-color-light);
}

.address-copyright {
  font-size: 14px;
  color: var(--fourth-color);
}
